<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시간 관리</title>

    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header class="header"></header>
    <article class="mainpage">
        <!-------------------------------------------------------INFORMATION------------------------------------------------------>
        <div class="page l_side l-col-3 l-col-s-3">
            <section class="left_box">
                <div class="l_boxcon">
                    <h1 class="l_boxname">INFORMATION</h1>

                    <!--PROFILE PART-->
                    <div>
                        <div class="profile_img"></div>
                        <div class="profile_name"><p>파이썬 마스터</p></div>
                    </div>

                    <!--GOAL PART-->
                    <div>
                        <!--PREVIOUS GOAL-->
                        <div class="back_box1">
                            <div>
                                <h2 class="back_box_name1">PREVIOUS GOAL</h2>
                                <p class="back_box_text1">명상</p>
                            </div>
                            <div>
                                <h2 class="back_box_name2">TARGET TIME</h2>
                                <p class="back_box_text2">00:00:00</p>
                            </div>
                        </div>

                        <!--TODAY GOAL-->
                        <div class="front_box">
                            <div>
                                <h2 class="front_box_name1">TODAY GOAL</h2>
                                <p class="front_box_text1">날씨 웹 완성하기</p>
                            </div>
                            <div>
                                <h2 class="front_box_name2">TARGET TIME</h2>
                                <p class="front_box_text2">00:00:00</p>
                            </div>
                        </div>
                        
                        <!--NEXT GOAL-->
                        <div class="back_box2">
                            <div>
                                <h2 class="back_box_name1">NEXT GOAL</h2>
                                <p class="back_box_text1">운동</p>
                            </div>
                            <div>
                                <h2 class="back_box_name2">TARGET TIME</h2>
                                <p class="back_box_text2">00:00:00</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------>

        <!----------------------------------------------------------TIMER--------------------------------------------------------->
        <div class="page middle m-col-6 m-col-s-6">
            <section class="center_box">
                <!--TIMER-->
                <div class="c_boxcon">
                    <img class="timerimg" src="/images/timer.png" alt="timer">    
                    <h1 class="timer">00:00:00</h1>
                    <p class="timer_name">part 2</p>
                </div>
            </section>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------>

        <div class="page r_side r-col-3 r-col-s-3">
            <div class="right_box">
                <!-----------------------------------------------------------MEMO---------------------------------------------------------->
                <section class="right_box1">
                    <div class="r_boxcon">
                        <h1 class="r_boxname1">MEMO</h1>

                        <!--MEMO NAME-->
                        <div class="memo_name">MEMO 1</div>

                        <!--LIST-->
                        <div class="list"></div>

                        <!--MEMO TEXT-->
                        <div class="memo_box"><textarea></textarea></div>
                    </div>
                </section>
                <!------------------------------------------------------------------------------------------------------------------------>

                <!---------------------------------------------------------TIMELINE-------------------------------------------------------->
                <section class="right_box2">
                    <h1 class="r_boxname2">TIMELINE</h1>

                    <div>
                        <!--PART 1-->
                        <div class="timeline_box1"><p class="timeline_text1">PART 1 | 00:22:36</p></div>
                        
                        <!--REST 1-->
                        <div class="timeline_box2"><p class="timeline_text2">REST 1 | 00:06:08</p></div>
                        
                        <!--PART 2-->
                        <div class="timeline_box1"><p class="timeline_text1">PART 2 | 00:00:00</p></div>
                        
                        <!--REST 2-->
                        <div class="timeline_box2"><p class="timeline_text2"></p></div>
                                
                        <!--ETC CIRCLE1-->
                        <div class="etc_cir1"></div>
                        
                        <!--ETC CIRCLE2-->
                        <div class="etc_cir2"></div>
                    </div>
                </section>
                <!------------------------------------------------------------------------------------------------------------------------>
            </div>    
        </div>

    </article>

    <footer class="footer"></footer>
</body>
</html>